html {
	height: 100%;
	width: 100%;
}

body {
	display: block;
	border: none;
	margin: 0px;
	height: 100%;
	width: 100%;
	background-color: black;
}
#app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 3;
}

#gameUI {
	top: 0px;
	margin-left: 5%;
	margin-right: 5%;
	height: 100px;
	width: 90%;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 30px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	position: absolute;
}

.gameUIItem:nth-child(1) {
	text-align: left;
}
.gameUIItem:nth-child(2) {
	text-align: center;
}
.gameUIItem:nth-child(3) {
	text-align: right;
}

#scoreAdditions {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-left: 45px;
	margin-right: 45px;
	margin-bottom: 100px;
	z-index: 8;
}

.currentScore {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.highScore {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes smallScoreBounce {
	0% {
		transform: scale(1)
	}
	20% {
		transform: scale(3);
	}
	100% {
		transform: scale(1);
	}

}

@keyframes largeScoreBounce {
	0% {
		transform: scale(1)
	}
	20% {
		transform: scale(4);
	}
	100% {
		transform: scale(1);
	}

}

.smallScore {
	font-size: 30px;
	height: fit-content;
	width: fit-content;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	/* transform: scale(1); */
	animation: smallScoreBounce 1s;
	transition: all 0.5s;
}

.largeScore {
	font-size: 40px;
	height: fit-content;
	width: fit-content;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: white;
	/* transform: scale(1); */
	animation: largeScoreBounce 1s;
}

#lives {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#lives > img {
	height: 40%;
	width: auto;
	margin-right: 20px;
	image-rendering: pixelated;
	transition: opacity 0.8s ease-in-out;
}

.fadeIn {
	opacity: 1 !important;
}

.fadeOut {
	opacity: 0;
}
